:root {
  --kpurple-transp: #rgba(113,10,83,0.8);  /* 透明的网页紫 */
  --kpurple: #97267b;  /* 网页紫 */
  --kfontcolor: #710a53; /* 字体黑 */
  --klight-purple: #dfc8d9;  /* 浅紫色 */
  --grey-font: #888888;  /* 灰色字 */
  --kgrey-purple: #8d3b75;  /* 灰紫色字 */
}
* { 
	box-sizing: border-box
}
.displaynone {
  display: none;
}
body {
  font-size: 14px;
}
a:link, a:visited {
  text-decoration: none;
}


/* 头部 */
.header {
  width: 1200px;
  height: 135px;
  margin: 0 auto;
  background-color: red;
  position: relative;
  z-index: 2;
}
.header-left {
  float: left;
  margin-top: 30px;
}
.header-links-ul, .header-nav-ul {
  list-style: none;
  padding: 0;
}
.header-link-li, .header-nav-li {
  display: inline-block;
}
.header-right {
  float: right;
  margin-top: 15px;
}
.header-links {
  float: right;
  background-color: aliceblue;
  display: block;
  height: 35px;
  line-height: 8px;
  font-size: 14px;
  padding-inline: 10px;
  border-radius: 100px;
}
.header-links-ul {
  background-color: red;
  padding: 0;
}
.header-link-li {
  margin-inline: 7px;
  
}
.header-nav {
  background: yellow;
  height: 50px;
  margin-top: calc(35px + 10px);
  font-size: 18px;
}
.header-nav-li {
  padding-inline: 15px;
  line-height: 50px;
}

/* 滚动图 */
.scroll-chart {
  position: absolute;
  background-color: silver;
  margin-top: -135px;
  z-index: 1;
}
.scroll-chart-list {
  padding: 0;
  margin: 0 auto;
}
.scroll-img {
  width: 100%;
  display: block;
}


/* 中央 TOC */
.center-toc {
  background-color: #ffff008c;
  height: 70px;
  z-index: 2;
  position: relative;
  margin-top: calc(933px - 135px - 70px);
}
.center-toc-c {
  width: 1200px;
  margin: 0 auto;
}
.center-toc-ul {
  margin: 0;
  list-style: none;
  float: left;
  height: 70px;
  padding: 0;
}
.center-toc-li {
  display: inline-block;
}
.center-toc-a {
  font-size: 18px;
  width: 115px;
  display: block;
  line-height: 70px;
}
.center-search {
  float: right;
}
.center-search-form {
  background-color: gray;
  margin: 15px 0;
  border-radius: 20px;
}
.center-search-input {
  width: 185px;
  height: 40px;
  border: none;
  background: none;
}
.center-search-submit {
  width: 55px;
  height: 37px;
  border: none;
  background: url(../image/search.png) no-repeat center center;
}


/* 新闻 */
.news {
  background-color: green;
  margin: 0 auto;
  padding: 0;
  height: 580px;
  display: flex;
}
.news-c {
  width: 1200px;
  margin: 0 auto;
}
.news-toc {
  background-color: pink;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 35px;
  font-size: 28px;
}
.news-title {
  margin-inline: 25px;
}
.news-lastest-c {
  background-color: red;
  width: 350px;
  height: 387px;
  float: left;
}
.lastest-three {
  width: 420px;
}
.news-lastest > .news-lastest-c:not(:first-child) {
  margin-left: 40px;
}
.news-lastest-topimg {
  height: 240px;
  object-fit: cover;
  width: 100%;
}
.news-lastest-title {
  background-color: yellow;
  height: 85px;
  padding: 15px;
  font-size: 18px;
}
.news-lastest-time {
  font-size: 16px;
  background-color: aqua;
  padding: 15px 0 0 25px;
}
.lastest-three-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.lastest-three-li {
  display: inline-block;
  margin-bottom: 13.5px;
}
.lastest-three-time {
  background-color: white;
  width: 45px;
  height: 40px;
  float: left;
  text-align: center;
}
.lastest-three-time-d {
  font-size: 22px;
  height: 22px;
}
.lastest-three-time-m {
  font-size: 12px;
  margin-top: 3px;
}
.lastest-three-title {
  background-color: #999;
  float: right;
  width: 374px;
  font-size: 16px;
  text-align: justify;
  padding-block: 2px;
  padding-left: 29px;
}

/* 系列专题 */
.special-series {
  background-color: red;
  height: 375px;
  display: flex;
}
.special-series-c {
  margin: 0 auto;
  width: 1200px;
}
.series-title {
  background-color: bisque;
  margin-top: 55px;
  text-align: center;
  font-size: 28px;
}
.series-ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 55px;
}
.series-ul > .series-li:not(:first-child) {
  margin-left: 25px;
}
.series-li {
  background-color: blue;
  width: 400px;
  margin: 5px;
  height: 180px;
}
.series-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* 文章 */
.essay {
  height: 600px;
  background-color: silver;
  display: flex;
}
.essay-c {
  width: 1200px;
  margin: 0 auto;
  background-color: aqua;
}
.essay-leftimg {
  background-color: beige;
  height: 420px;
  width: 585px;
  margin-top: 100px;
  float: left;
}
.essay-class-name {
  background-color: yellow;
  width: 600px;
  height: 420px;
  float: left;
  margin-top: 100px;
}
.essay-leftimg {
  background-color: beige;
  height: 420px;
  width: 585px;
  margin-top: 100px;
  float: left;
  margin-right: 15px;
}
.essay-leftimg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.essay-toc-ul {
  background-color: #e88;
  padding: 0;
  margin: 0;
  padding-left: 20px;
}
.essay-toc-li {
  display: inline-block;
  font-size: 28px;
  margin-right: 23px;
}
.essayclass-c {
  margin-top: 70px;
}
.essay-title {
  font-size: 20px;
  background-color: beige;
  display: block;
  width: 470px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  margin-bottom: 25px;
}
.essay-time {
  font-size: 14px;
  float: right;
  background-color: cadetblue;
  line-height: 23px;
  padding-right: 5px;
}


/* 视频 */
.video {
  height: 580px;
  background-color: beige;
  display: flex;
}
.video-c {
  width: 1200px;
  margin: 0 auto;
  background-color: aliceblue;
}
.video-cardname {
  background-color: hotpink;
  margin-top: 50px;
  font-size: 28px;
  text-align: center;
}
.video-card {
  background-color: bisque;
  height: 350px;
  margin-top: 60px;
}
.video-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.video-ul > .video-li:not(:first-child) {
  margin-left: 40px;
}
.video-videoimage {
  background-color: azure;
  display: block;
  width: 330px;
  height: 220px;
  object-fit: cover;
}
.video-li {
  display: inline-block;
}
.video-videotitle {
  display: block;
  background-color: beige;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}


/* 图式链接 */
.imagelinks {
  height: 220px;
  background-color: red;
  display: flex;
}
.imagelinks-c {
  width: 1200px;
  margin: 0 auto;
  background-color: coral;
  display: flex;
}
.imagelinks-card {
  background-color: azure;
  width: 200px;
  outline: solid;
  height: 135px;
  margin-top: 40px;
  background-repeat: no-repeat;
  background-image: url(../image/links.png);
}
.imagelinks-card-1 { background-position: center 0px; }
.imagelinks-card-2 { background-position: center calc(1 * -135px); }
.imagelinks-card-3 { background-position: center calc(2 * -135px); }
.imagelinks-card-4 { background-position: center calc(3 * -135px); }
.imagelinks-card-5 { background-position: center calc(4 * -135px); }
.imagelinks-card-6 { background-position: center calc(5 * -135px); }


/* 页足 */
.footer {
  height: 273px;
  background-color: aqua;
  display: flex;
}
.footer-c {
  width: 1200px;
  margin: 0 auto;
  background-color: beige;
}
.footer-simplenav {
  height: 75px;
  background-color: violet;
}
.footer-simplenav-ul {
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.footer-simplenav-li {
  padding-inline: 20px;
}
.footer-links {
  height: 90px;
  background-color: azure;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
.footer-links div {
  background-color: coral;
}
.footer-logo {
  width: 270px;
}
.footer-logo-img {
  margin-left: 20px;
  margin-top: 5px;
}
.footer-addr {
  width: 150px;
}
.footer-addr-title {
  font-size: 16px;
  line-height: 10px;
  font-weight: 900;
}
.footer-addr-info {
  font-size: 16px;
  margin-top: -3px;
  line-height: 26px;
}
.footer-social {
  width: 250px;
}
.footer-sydw {
  width: 80px;
}
.footer-icp {
  height: 30px;
  background-color: yellow;
  margin-top: 2px;
}
