:root {
  --kpurple-transp: #rgba(113,10,83,0.8);  /* 透明的网页紫 */
  --kpurple: #97267b;  /* 网页紫 */
  --kfontcolor: #710a53; /* 字体黑 */
  --klight-purple: #dfc8d9;  /* 浅紫色 */
  --grey-font: #888888;  /* 灰色字 */
  --kgrey-purple: #8d3b75;  /* 灰紫色字 */
}